.home-nav{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color:darkcyan;
    color: white;
}

.home-main{
    border: 3px solid black;
    margin: 20px 100px;
    padding: 20px;
    border-radius: 20px;
}

.main-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nomovies{
    color: blue;
    font-style: italic;
    background-color:whitesmoke;
    padding: 10px;
    border-radius: 10px;
    font-size: 30px;
}

.nomovies span{
    color: gray
}

th{
    font-size: 20px;
    font-weight: 700;
}