.formlabel{
    display: block; 
    padding-top: 10px;
}

.registerform{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
}

.reg-input{
    border-radius: 7px;
    padding: 10px;
    border: solid black;
    width: 100%;
}

label{
    font-weight: 600;
}

.reg-but{
    width: 100%;
}

.errormsj{
    color: red;
}

.all{
    border-radius: 10px;
    padding: 10px;
    border: 2px solid black;
}